header {
  padding: 32px;
  background-color: #111F41;
  color: #fff;
  text-align: center;
}

.input-group {
  border-top: 4px solid #E3353A;
  background-color: #F7FAFB;
}

.table {
  margin: 32px 64px;
}